/* MISC */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Koulen&display=swap");
/*FONTS FAMILY*/
/*FONTS*/
/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../css/imagenes/white-painted-wall-texture-background.jpg);
  background-attachment: fixed;
  overflow: scroll;
  font-family: 'Anton', sans-serif;
  color: black; }

header nav .navegation {
  display: flex;
  background-image: url(../../css/imagenes/defigma650/NUEVOBANNER/Frame1.jpg); }

ul {
  display: contents;
  list-style-type: none;
  padding: none; }

a {
  text-decoration: none;
  color: black;
  font-family: 'Anton', sans-serif;
  font-family: 'Koulen', cursive; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: large; }

/*PARTIALS*/
.header_1 {
  display: block;
  padding: 0px; }

.respmenu a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  max-width: 200px;
  font-variant: small-caps;
  text-shadow: 1px 1px black;
  font-size: larger; }

.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px; }

.respmenu .fa-bars, .respmenu .fa-times {
  font-size: 48px;
  pointer-events: none; }

.respmenu input[type="checkbox"] {
  opacity: 0; }

.respmenu {
  color: white;
  position: relative;
  width: 100%;
  background: black;
  background: linear-gradient(49deg, black 31%, #f15400 62%, #8f1111 92%);
  min-height: 48px; }

.respmenu nav {
  display: none;
  font-size: 15px; }

.respmenu input:checked ~ nav {
  display: block; }

.respmenu input:checked ~ .fa-bars {
  display: none; }

.respmenu input:not(:checked) ~ .fa-times {
  display: none; }

/* ------FOOTER ------*/
.pie-pagina {
  width: 100%;
  background: black;
  background: linear-gradient(166deg, black 17%, #118f52 49%, #6c00af 73%); }

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.pie-pagina .grupo-1 .box figure img {
  width: 250px; }

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px; }

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px; }

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease; }

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua; }

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff; }

.pie-pagina .grupo-2 small {
  font-size: 15px; }

/* VIEWS*/
.container__contact__list {
  display: flex; }
  .container__contact__list .Redes {
    display: flex;
    justify-content: center;
    font-size: 20px; }
  .container__contact__list .contact__list {
    display: inline-block;
    font-size: 15px;
    padding: 3rem;
    flex-direction: column; }

.contact__maps {
  display: flex;
  justify-content: center; }
  .contact__maps .maps__iframe {
    margin: 25px;
    border: 3px outset #E96122;
    border-radius: 15px 21px 15px 30px; }

.container__marcas {
  display: grid; }

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  justify-content: center; }

.marcas__marcas {
  display: flex;
  width: 300px;
  height: 300px; }

.marcas__marcas {
  max-width: 300px;
  padding: 0.5rem;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%; }

.conteiner__grid {
  font-family: 'Koulen', cursive;
  display: flex;
  width: 98%;
  max-width: 1000px;
  margin: auto;
  font-size: 15px;
  line-height: 15px;
  text-align: center; }

.conteiner__grid > div {
  display: flex;
  padding: 20px; }

.conteiner__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  justify-content: center; }

.conteiner__grid__img .conteiner__grid__text {
  border: 5px inset rgba(155, 62, 164, 0.54);
  border-radius: 23px 0px 23px 0px; }

.div__cards__img {
  justify-content: center; }

.cards__img {
  display: inline-block;
  padding: 10px; }

/* ----- HOME -----*/
.module-border-wrap {
  display: flex;
  background: #929393;
  background: linear-gradient(121deg, rgba(146, 147, 147, 0.8) 0%, rgba(253, 160, 29, 0.6) 50%, rgba(147, 147, 147, 0.8) 100%);
  padding: 3px;
  margin: 20px; }

.carousel__div {
  display: flex;
  padding: 10px;
  justify-content: center; }

.text__carousel {
  display: flex;
  text-align: center;
  align-items: center; }

.banner__gradient {
  display: flex;
  margin-top: 10px;
  margin: 20px;
  align-items: center; }

.banner__gradient {
  background: #929393;
  background: linear-gradient(122deg, rgba(146, 147, 147, 0.8) 0%, rgba(29, 253, 51, 0.6) 16%, #0083af 71%); }

.div_plc-aea {
  display: flex;
  justify-content: center;
  align-items: center; }

.plc-aea {
  display: flex;
  padding: 10px;
  justify-content: center; }

.text__aea {
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center; }

.banner__siemens {
  display: flex;
  margin-top: 10px;
  margin: 20px; }

.banner__siemens {
  display: flex;
  background: #ff9e00;
  background: linear-gradient(122deg, rgba(255, 158, 0, 0.8) 0%, rgba(241, 0, 0, 0.8) 44%, rgba(108, 0, 175, 0.8) 83%);
  padding: 3px;
  margin: 20px;
  align-items: center; }

.auto_siemes {
  display: flex;
  padding: 10px;
  justify-content: center; }

.text__siemens {
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center; }

/* MEDIAS QUERIES*/
@media (max-width: 600px) {
  .container__contact__list {
    flex-direction: column; } }

@media (max-width: 600px) {
  .menu {
    flex-direction: column; } }

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    text-align: center; } }

@media (max-width: 890px) {
  .module-border-wrap {
    flex-direction: column; } }

@media (max-width: 890px) {
  .banner__gradient {
    flex-direction: column; } }

@media (max-width: 890px) {
  .banner__siemens {
    flex-direction: column; } }
