/*----CONTACTOS----*/
.body-contac {
    background-image:url(../../css/contacto.png);
}
.row-23 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));  
    padding: 100px;
    justify-content: space-around;
    align-items: center;
}
.col ul li {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.tel-inf {
    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: $font-primary;
    
}
.row-23{
    margin: 50px;
    font-family:$font-primary;
    font-size: $text-base;
    border: 5px ridge rgba(255,215,0,0.75);
    border-radius: 38px;
    padding: 10px;
}
.row-23{
    background: rgb(194,194,196);
    background: linear-gradient(180deg, rgba(194,194,196,0.7) 0%, rgba(194,194,196,0.7) 50%, rgba(194,194,196,0.7) 100%);
}
.h3-text{
    font-size: $font-primary;
    padding: 5px;
}
.text-area-form {
    display: flex;
    flex-direction: column;
 
}
/*boostrap*/

.fab, .far {
    font-weight: 100;
}
button, input, optgroup, select, textarea {
    padding: 10px;
    margin: 19px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}