/* ----- HOME -----*/
.module-border-wrap {
    display: flex;
    background: rgb(146,147,147);
    background: linear-gradient(121deg, rgba(146,147,147,0.8) 0%, rgba(253,160,29,0.6) 50%, rgba(147,147,147,0.8) 100%);
    padding: 3px; 
    margin: 20px;
}
.carousel__div{
    display: flex;
    padding: 10px;
    justify-content: center;}
    .text__carousel  {
    display: flex;
    text-align: center;
    align-items: center;
    }
  
.banner__gradient {
    display: flex;
    margin-top: 10px;
    margin: 20px;
    align-items: center;
}
.banner__gradient {        
    background: rgb(146,147,147);
    background: linear-gradient(122deg, rgba(146,147,147,0.8) 0%, rgba(29,253,51,0.6) 16%, rgba(0,131,175,1) 71%);
}
.div_plc-aea {
    display: flex;
    justify-content: center;
    align-items: center;
}
.plc-aea {
    display: flex;
    padding: 10px;
    justify-content: center;
}
.text__aea  {
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
    }


    
.banner__siemens {
      display: flex;
      margin-top: 10px;
      margin: 20px;
    }
.banner__siemens{
    display: flex;
    background: rgb(255,158,0);
    background: linear-gradient(122deg, rgba(255,158,0,0.8) 0%, rgba(241,0,0,0.8) 44%, rgba(108,0,175,0.8) 83%);
    padding: 3px; 
    margin: 20px;
    align-items: center;
  }
.auto_siemes {
    display: flex;
    padding: 10px;
    justify-content: center;
  }
.text__siemens  {
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
  }
