.nosotros-html{
    background-image: url(../css/MARCAS/nosotros.png);
}

.main__grid {
    padding: 1rem;
}

.conteiner__grid > div {
     display: flex;
     margin: auto;
}
.conteiner__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr; 
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(150px,400px));
    justify-items: center;
    justify-content: center;
}

.conteiner__grid__img {
    .img-grid-nos{
        width: 100%;
    }
  }

.conteiner__grid__text {
    width: 300px 300px;
    border-radius: 29px;
    background: rgb(34,193,195);
    background: linear-gradient(49deg, rgba(34,193,195,0.5) 0%, rgba(253,187,45,0.5) 100%);
}
.grid__text__a{
    margin: 5px;
}
