@mixin button_mixin {
    border: solid 3px;
    border-image-source: linear-gradient(to bottom right, #f78ae0, #6638f0);
    border-image-slice: 4;
    margin: 2px;
  }

  @mixin border_mixin {
    border: solid 3px;
    border-image-source: linear-gradient(to bottom right, #f78ae0, #6638f0);
    border-image-slice: 4;
    margin: 2px;
    border-radius: 40px;
  }
