/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  .w-100 {
    width: none!important;
  }
  body {
    background-image: $primary;
    background-attachment: fixed;
    overflow: scroll;
    font-family: $font-primary;
    color: $text-color;
    }
  header nav .navegation {
    display: flex;
    background-image: url(../../css/imagenes/defigma650/NUEVOBANNER/Frame1.jpg);
  }
  ul {
    display: contents;
    list-style-type: none;
    padding: none;
  }
  a {
    text-decoration: none;
    color: $text-color;
    font-family:$font-secondary;
    font-size:$text-base;
  }
