/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  .w-100 {
    width: none!important;
  }
  body {
    background-image: $primary;
    background-attachment: fixed;
    overflow: scroll;
    font-family: $font-primary;
    color: $text-color;
    }

  ul {
    display: contents;
    list-style-type: none;
    padding: none;
  }
  a {
    text-decoration: none;
    color: $text-color;
    font-family:$font-secondary;
    font-size:$text-base;
  }

  h3{
    font-weight: bolder;
  }
  dl, ol, ul { /*luchando con boostrap*/
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ol, ul {
    /* padding-left: 2rem; */
}