* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-image: url(../css/imagenes/white-painted-wall-texture-background.jpg);
    background-attachment: fixed;
    overflow: scroll;
    font-family: 'Anton', sans-serif;
    font-family: 'Koulen', cursive;
    color: black;
    
    }
ul {
    list-style-type: none;
 
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Anton', sans-serif;
    font-family: 'Koulen', cursive;
   
}
img {
    width: 100%;
}